<mat-card>
  <mat-card-title>对战点数</mat-card-title>
</mat-card>

<mat-card>
  <mat-card-content>
    当前对战点数: {{profile ? profile.battlePoint : ''}}
  </mat-card-content>
</mat-card>

<mat-card>
  <h3>对战点数排名</h3>
  <table class="zebra battle-point-table">
    <thead>
    <th>歌曲</th>
    <th>难度</th>
    <th>点数</th>
    <th>属性</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of bPList; index as i">
      <td class="music-title">
        <img src="{{host}}ongeki/jacket/UI_Jacket_{{item.musicId|formatNumber:4}}.png">
        {{i + 1}}: {{item.musicInfo ? item.musicInfo.name : 'MusicID:' + item.musicId}}
      </td>
      <td>
        {{difficulty[item.level]}}
      </td>
      <td>
        {{item.value}}
      </td>
      <td>
        {{item.bossCardInfo ? item.bossCardInfo.attribute : 'Unknown' }}
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>
