<h1 mat-dialog-title>更改收藏夹</h1>
<div mat-dialog-content>
  <span>歌曲的编号位共有40个，所以请确保其中有39个逗号</span><br>
  <mat-form-field>
    <mat-label>myList</mat-label>
    <mat-select [(ngModel)]="data.selector">
      <mat-option value="0">收藏夹1</mat-option>
      <mat-option value="1">收藏夹2</mat-option>
      <mat-option value="2">收藏夹3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.selector === '0'">
    <mat-label>收藏夹1</mat-label>
    <textarea [(ngModel)]="data.myList0" matInput></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="data.selector === '1'">
    <mat-label>收藏夹2</mat-label>
    <textarea [(ngModel)]="data.myList1" matInput></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="data.selector === '2'">
    <mat-label>收藏夹3</mat-label>
    <textarea [(ngModel)]="data.myList2" matInput></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>不用了，谢谢</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>保存</button>
</div>
