<mat-card>
  <mat-card-title>我的卡片列表</mat-card-title>
  <mat-card-content>
    <p class="hint">
      提示: <br>
      每张卡的基础等级上限为10级。解花后，等级上限将加上40级。（指10+40）<br>
      每增加一颗星可以让等级上限增加5级。R，SR，SSR卡最多可获得5颗星，N卡最多可获得10颗星。<br>
      这就意味着N卡的最高等级上限为100级，R、SR、SSR卡的最高等级上限为70级<br>
      在游戏中获得同一张牌或使用同一物品可以提高星级。
    </p>
    <div class="action">
      <button mat-button routerLink="all">展示所有卡片</button>
      <button mat-button routerLink="gacha">抽卡(在进程中运行)</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  *ngFor="let item of cardList | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }">
  <mat-card-title>
    {{item.cardInfo ? item.cardInfo.name : 'ID:' + item.cardId}}
  </mat-card-title>
  <mat-card-content>
    <div class="card-display">
      <div class="image">
        <a href="{{host}}ongeki/card/UI_Card_{{item.cardId|formatNumber:6}}.png" target="_blank">
          <img src="{{host}}ongeki/card/UI_Card_{{item.cardId|formatNumber:6}}_S.png">
        </a>
        <div *ngIf="item.characterInfo">
          {{item.characterInfo.name}}<br>
          {{item.characterInfo.cv ? '(CV: ' + item.characterInfo.cv + ')' : ''}}
        </div>
      </div>
      <div class="content">
        <table class="zebra">
          <tr>
            <th>等级</th>
            <td>{{item.level}}</td>
          </tr>
          <tr>
            <th>当前可达到的最高等级</th>
            <td>{{item.maxLevel}}</td>
          </tr>
          <tr>
            <th>星级</th>
            <td>{{item.digitalStock}}</td>
          </tr>
          <tr>
            <th>技能</th>
            <td>{{item.skillInfo ? item.skillInfo.name : 'ID:' + item.skillId}}</td>
          </tr>
          <tr>
            <th>解花</th>
            <td>{{item.kaikaDate == '0000-00-00 00:00:00.0' ? 'No' : 'Yes'}}</td>
          </tr>
          <tr>
            <th>超解花</th>
            <td>{{item.choKaikaDate == '0000-00-00 00:00:00.0' ? 'No' : 'Yes'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button (click)="kaika(item.cardId, 'kaika')" [disabled]="item.kaikaDate != '0000-00-00 00:00:00.0'"
            mat-button>
      解花
    </button>
    <button (click)="kaika(item.cardId, 'choKaika')" [disabled]="item.choKaikaDate != '0000-00-00 00:00:00.0'"
            mat-button>
      超解花
    </button>
  </mat-card-actions>
</mat-card>
<div class="pagination">
  <pagination-controls (pageChange)="load($event)" id="server"></pagination-controls>
</div>
