.control {
  z-index: 1000;
}

.hide {
  display: none !important;
}

.gacha-button-group {
  width: 100%;
  display: flex;
}

.gacha-button-group button {
  margin: auto;
  width: 128px;
  height: 128px;
  background-color: dimgray;
}

.full-screen {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("//static.samnyan.icu/ongeki/gameUi/Evt_BattleStart_UI_CMN_Transition_bg.png") no-repeat center;
  background-size: cover;
}

/* Wide screen */
.card-container {
  padding: 0 5%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.result-card {
  margin: 30px 20px;
  width: 30%;
  height: fit-content;
  max-width: 200px;
  overflow: hidden;
  position: relative;
}

.result-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.result-card .overlay img {
  left: 0;
  position: absolute;
  height: 100%;
  transform: scaleX(-1);
  opacity: 60%;
  animation-duration: 3s;
  animation-name: overlay-glow;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.result-card .overlay-rarity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.result-card .overlay-rarity img {
  left: 0;
  position: absolute;
  height: 100%;
  opacity: 0;
  animation-duration: 2.5s;
  animation-name: overlay-rarity;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes overlay-glow {
  from {
    left: -1000%;
  }

  to {
    left: 300%;
  }
}

@keyframes overlay-rarity {
  20% {
    opacity: 0;
  }

  50% {
    opacity: 60%;
  }

  80% {
    opacity: 0;
  }
}

.flip {
  transform: rotateY(180deg);
}

.card-image {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-image .image-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}

.card-image .image-back img {
  left: 0;
  position: absolute;
  height: 100%;
}

.image-front, .image-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.image-front img, .image-back img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .result-card {
    margin: 30px 15px;
    max-width: 150px;
  }

  .gacha-button-group button {
    width: 72px;
    height: 72px;
  }
}

@media screen and (max-height: 500px) {
  .result-card {
    max-width: 110px;
  }
}

@media screen and (max-width: 420px) {
  .result-card {
    margin: 30px 5px;
    max-width: 100px;
  }
}


/**
Card animation part
 */

.card-animation-full-screen {
  z-index: 700;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  pointer-events: none;
}

#full-screen-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

#card-rarity-animation {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

#card-detail-animation {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  display: none;
}

#image_loader {
  display: none;
}
