<mat-card>
  <mat-card-title>
    <div>节日加成列表, 长度: {{festas ? festas.length : 0}}</div>
    <button (click)="edit(undefined)" mat-flat-button>添加</button>
  </mat-card-title>
</mat-card>
<div *ngIf="festas">
  <mat-card *ngFor="let festa of festas">
    <mat-card-content>
      <table class="zebra">
        <tr>
          <th>ID</th>
          <td>{{festa.id}}</td>
        </tr>
        <tr>
          <th>节日名称</th>
          <td>{{festa.name}}</td>
        </tr>
        <tr>
          <th>加成类型</th>
          <td>{{festaKind[festa.kind]}}</td>
        </tr>
        <tr>
          <th>限定难度</th>
          <td>{{difficulty[festa.difficulty]}}</td>
        </tr>
        <tr>
          <th>PV列表</th>
          <td>{{festa.pvList}}</td>
        </tr>
        <tr>
          <th>属性</th>
          <td>{{festa.attributes}}</td>
        </tr>
        <tr>
          <th>VP点数奖励</th>
          <td>{{festa.addVP}}</td>
        </tr>
        <tr>
          <th>VP加成倍率</th>
          <td>{{festa.vpMultiplier}}</td>
        </tr>
        <tr>
          <th>开始于</th>
          <td>{{festa.start}}</td>
        </tr>
        <tr>
          <th>结束于</th>
          <td>{{festa.end}}</td>
        </tr>
        <tr>
          <th>创建日期</th>
          <td>{{festa.createDate}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="edit(festa)" mat-flat-button>编辑</button>
      <button (click)="delete(festa.id)" mat-flat-button>删除</button>
    </mat-card-actions>
  </mat-card>
</div>
