<div *ngIf="modules">
  <mat-card *ngFor="let item of modules | paginate: {itemsPerPage: 15, currentPage: p}">
    <mat-card-content>
      <span>模型ID: {{item.id}}</span><br><br>
      <span>模型名: {{item.name}}</span><br>
      <span>价格: {{item.price}} VP</span>
    </mat-card-content>
  </mat-card>
</div>
<pagination-controls class="pagination" maxSize="9"
                     (pageChange)="p = $event"
                     directionLinks="true"
                     autoHide="true"
                     responsive="true"
                     previousLabel="上一页"
                     nextLabel="下一页"
                     screenReaderPaginationLabel="Pagination"
                     screenReaderPageLabel="page"
                     screenReaderCurrentLabel="你已经在这一页了">
</pagination-controls>
