.record mat-card-title {
  font-size: 1.2em;
  text-align: right;
}

.song-header {
  display: flex;
}

.song-header img {
  width: 42px;
  height: 42px;
}

.song-header .level {
  margin-left: auto;
  font-size: 1.2em;
}

.song-info {
  margin-left: 4px;
}

.song-info .title {
  font-size: 1.2em;
}

.song-info .info {
  color: #cfcfcf;
}

.result-content {
  display: flex;
}

.result-content .left {
  min-width: 30%;
  text-align: center;
  margin: auto;
}

.result-content .right {
  width: 100%;
}

.achievement-value {
  font-size: 1.5rem;
}

.score-value {
  font-size: 1.4rem;
}
