<mat-card class="login-card">
  <mat-card-title>
    登录
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

      <mat-form-field class="full-width">
        <mat-label>Access Code</mat-label>
        <input formControlName="accessCode" matInput required type="text">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>ApiServer</mat-label>
        <input formControlName="游戏服务器地址" matInput required type="text">
      </mat-form-field>
      <button [disabled]="!loginForm.valid" mat-raised-button type="submit">登录</button>
    </form>
  </mat-card-content>
</mat-card>
