<mat-card>
  请注意：错误的设定将会导致玩家信息无法正确加载<br>
  请在更改默认数据前再三确认数值是否正确
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>玩家昵称</mat-card-title>
  <mat-card-content>
    <div class="content">{{profile.playerName}}</div>
    <div class="action">
      <button (click)="playerName()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>签名</mat-card-title>
  <mat-card-content>
    <div class="content">{{profile.levelTitle}}</div>
    <div class="action">
      <button (click)="playerTitle()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>签名栏设置</mat-card-title>
  <mat-card-content>
    <div class="content">
      签名栏ID: {{profile.plateId}}<br>
      签名栏效果ID: {{profile.plateEffectId}}
    </div>
    <div class="action">
      <button (click)="playerPlate()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>打歌面板</mat-card-title>
  <mat-card-content>
    <div class="content">
      主题ID:
      {{profile.commonSkin}}
    </div>
    <div class="action">
      <button (click)="skin()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>收藏夹</mat-card-title>
  <mat-card-content>
    <div class="content">
      收藏夹1:<br>
      {{profile.myList0}}<br>
      收藏夹2:<br>
      {{profile.myList1}}<br>
      收藏夹3:<br>
      {{profile.myList2}}
    </div>
    <div class="action">
      <button (click)="myList()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>按键音效</mat-card-title>
  <mat-card-content>
    <div class="content">
      按键音效: {{profile.buttonSe == -1 ? '默认设定' : profile.buttonSe}}<br>
      连续拖拽音效: {{profile.chainSlideSe == -1 ? '默认设定' : profile.chainSlideSe}}<br>
      拖拽音效: {{profile.slideSe == -1 ? '默认设定' : profile.slideSe}}<br>
      拖拽条操作音效: {{profile.sliderTouchSe == -1 ? '默认设定' : profile.sliderTouchSe}}<br>
    </div>
    <div class="action">
      <button (click)="commonSe()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="profile">
  <mat-card-title>游戏内设定</mat-card-title>
  <mat-card-content>
    <div class="content">
      显示排名: {{profile.showInterimRanking}}<br>
      Clear最低达成率显示: {{profile.showClearStatus}}<br>
      Great最低达成率显示: {{profile.showGreatBorder}}<br>
      击败对手的最低达成率显示: {{profile.showRivalBorder}}<br>
      显示节奏游戏道具: {{profile.showRgoSetting}}<br>
    </div>
    <div class="action">
      <button (click)="display()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="rival">
  <mat-card-title>对手设定</mat-card-title>
  <mat-card-content>
    <div class="content">
      对手昵称: {{rival}}<br>
    </div>
    <div class="action">
      <button (click)="setRival()" mat-button>编辑</button>
    </div>
  </mat-card-content>
</mat-card>
