mat-card-title {
  font-size: 1.2em;
  text-align: right;
}

.song-header {
  display: flex;
}

.song-header .level {
  margin-left: auto;
  font-size: 1.2em;
}

.song-info .title {
  font-size: 1.2em;
}

.song-info .info {
  opacity: 70%;
}

.result-content {
  display: flex;
}

.result-content .left {
  min-width: 40%;
  text-align: center;
  margin: auto;
}

.result-content .right {
  width: 100%;
}

.rank {
  font-size: 1rem;
}

.score-rank-icon {
  font-size: 1.3rem;
}

.score-value {
  font-size: 1.2rem;
}

.result-head {
  word-break: break-word;
}

.result-table tr th {
  width: 50%;
}

.result-table tr td:first-of-type {
  width: 20%;
}

.result-table tr td:last-of-type {
  width: 30%;
}
