
.skill-card table {
  width: 100%;
  font-size: 16px;
}

.skill-card h3 {
  font-size: 20px;
  text-align: center;
}

.skill-card img {
  width: 18px;
  height: 18px;
  padding: 0;
}

td {
  max-width: 130px;
}

thead th {
  text-align: center;
}

tr * {
  padding: 10px 0;
}

@media only screen and (max-width: 599px) {
  .skill-card table {
    width: 100%;
    font-size: 12px;
  }
}
