.record mat-card-title {
  font-size: 1.2em;
  text-align: right;
}

.song-header {
  display: flex;
}

.song-header img {
  width: 42px;
  height: 42px;
}

.song-header .level {
  margin-left: auto;
  font-size: 1.2em;
}

.song-info {
  margin-left: 4px;
}

.song-info .title {
  font-size: 1.2em;
}

.song-info .info {
  opacity: 70%;
}

.result-content {
  display: flex;
}

.result-content .left {
  min-width: 30%;
  margin: auto 10px auto auto;
}

.result-content .right {
  width: 100%;
}

.score-area {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.score-area .score-element {
  text-align: right;
  margin: auto;
}

.score-label {
  font-size: 0.8em;
  opacity: 80%;
}

.achievement-value {
  font-size: 1.5rem;
}

.score-value {
  font-size: 1.4rem;
}

.battle-info {
  font-size: 0.8em;
  opacity: 80%;
}

.card-deck {
  display: flex;
}

.rival-info {
  margin-bottom: 10px;
}

.player-card {
  margin: 0 auto;
}

.player-card .player-card-header {
  display: flex;
  padding: 0 10px;
}

.player-card-header .attack {
  margin-left: auto;
}

.player-card-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .score-area {
    text-align: center;
    grid-template-columns: 1fr;
    margin-bottom: 15px;
  }

  .score-area .score-element {
    margin-bottom: 10px;
  }
}
