.record mat-card-title {
  font-size: 1.2em;
  text-align: right;
}

.song-header {
  display: flex;
}

.song-header img {
  width: 42px;
  height: 42px;
}

.song-header .level {
  margin-left: auto;
  font-size: 1.2em;
}

.song-info {
  margin-left: 4px;
}

.song-info .title {
  font-size: 1.2em;
}

.song-info .info {
  opacity: 70%;
}

.result-content {
  display: grid;
  grid-template-areas: "left right" "bottom right";
  grid-template-columns: 30% 70%;
}

.result-content .left {
  grid-area: left;
  min-width: 100%;
  margin: auto 15px auto auto;
}

.result-content .right {
  margin-left: 15px;
  grid-area: right;
}

.score-area {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.score-area .score-element {
  text-align: right;
  margin: auto;
}

.score-label {
  font-size: 0.8em;
  opacity: 80%;
}

.score-rank-icon {
  font-size: 1.5rem;
}

.score-rank-icon img {
  max-width: 60px;
  max-height: 60px;
}

.score-value {
  font-size: 1.4rem;
}

.result-content .bottom {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.bottom .bottom-achievement-icon {
  margin: auto;
}

.bottom .bottom-achievement-icon img {
  width: 100%;
  max-width: 100px;
}

.battle-info {
  font-size: 0.8em;
  opacity: 80%;
}

.card-deck {
  display: flex;
}

.rival-info {
  margin-bottom: 10px;
}

.player-card {
  margin: 0 auto;
}

.player-card .player-card-header {
  display: flex;
  padding: 0 10px;
}

.player-card-header .attack {
  margin-left: auto;
}

.player-card-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .result-content {
    grid-template-areas: "left right" "left bottom";
  }

  .score-area {
    text-align: center;
    grid-template-columns: 1fr;
    margin-bottom: 5px;
  }

  .score-area .score-element {
    margin-bottom: 5px;
  }

  .score-rank-icon img {
    max-width: 42px;
    max-height: 42px;
  }
}
