<mat-card>
  <mat-card-title>评级 (技术得分)</mat-card-title>
  <mat-card-content>
    ONGEKI 评级是根据平均55首歌曲计算出来的.<br>
    包括 :<br>
    1. 在所有游玩中最好的30次成绩.<br>
    2. 在新解锁歌曲中最高的15次成绩.<br>
    3. 最近30次游玩中最好的10次成绩. (可以是同一个曲目, 但不包括 LUNATIC 曲目)
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="rating-info">
      当前评级: {{profile ? (profile.playerRating / 100 | number: '1.2-2') : ''}}<br>
      最高评级: {{profile ? (profile.highestRating / 100 | number: '1.2-2') : ''}}
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let index of [0,2,4]">
  <h3>{{index == 0 ? '总游玩榜前 30' : index == 2 ? '新曲游玩榜前 15' : '近期游玩榜前 10' }}</h3>
  <table class="zebra battle-point-table">
    <thead>
    <th>歌曲</th>
    <th>难度</th>
    <th>分数</th>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of allArray[index]; index as i">
      <ng-container *ngTemplateOutlet="recordRow; context: {item: item, i: i}"></ng-container>
    </ng-container>
    <tr>
      <td colspan="4">
        ===== 后 10 个 =====
      </td>
    </tr>
    <ng-container *ngFor="let item of allArray[index + 1]; index as i">
      <ng-container *ngTemplateOutlet="recordRow; context: {item: item, i: i}"></ng-container>
    </ng-container>
    </tbody>
  </table>
</mat-card>

<ng-template #recordRow let-i="i" let-item="item">
  <tr *ngIf="item.musicId > 0">
    <td class="music-title">
      <img src="{{host}}ongeki/jacket/UI_Jacket_{{item.musicId|formatNumber:4}}.png">
      {{i + 1}}: {{item.musicInfo ? item.musicInfo.name : 'MusicID:' + item.musicId}}
    </td>
    <td>
      {{difficulty[item.level]}}
      <ng-container *ngIf="item.musicInfo" [ngSwitch]="item.level">
        Lv.
        <ng-container *ngSwitchCase="0">{{item.musicInfo.level0 | toLevelDecimal}}</ng-container>
        <ng-container *ngSwitchCase="1">{{item.musicInfo.level1 | toLevelDecimal}}</ng-container>
        <ng-container *ngSwitchCase="2">{{item.musicInfo.level2 | toLevelDecimal}}</ng-container>
        <ng-container *ngSwitchCase="3">{{item.musicInfo.level3 | toLevelDecimal}}</ng-container>
        <ng-container *ngSwitchCase="4">{{item.musicInfo.level4 | toLevelDecimal}}</ng-container>
      </ng-container>
    </td>
    <td>
      {{item.value}}
    </td>
  </tr>
</ng-template>
