mat-card-title {
  font-size: 1.2em;
  display: flex;
}

.level {
  margin-left: auto;
}

.song-info .info {
  opacity: 70%;
}

.result-content {
  display: flex;
}

.result-content .left {
  min-width: 30%;
  text-align: center;
  margin: 10px auto;
}

.achievement-value {
  font-size: 1.5rem;
}

.score-value {
  font-size: 1.4rem;
}
