<div *ngIf="record">

  <mat-card>
    <mat-card-title>
      <div
        class="title">{{record.songInfo != null ? record.songInfo.songName : 'PV编号:' + pvId}}</div>
    </mat-card-title>
    <mat-card-content>
      <div class="song-info">
        <span
          class="info">{{record.songInfo != null ? '作词: ' + record.songInfo.lyrics + ' 作曲: ' + record.songInfo.music : ''}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let item of record.records" routerLink="{{item.pvId}}">
    <mat-card-title>
      <div class="level">
        {{item.edition === 1 ? edition[item.edition] : ''}}
        {{difficulty[item.difficulty]}}
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="song-info">
        <span
          class="info">{{item.songInfo != null ? '作词: ' + item.songInfo.lyrics + ' 作曲: ' + item.songInfo.music : ''}}</span>
      </div>
      <div class="result-content">
        <div class="left">
          达成率:<br>
          <span class="achievement-value">{{item.maxAttain|divaDecimal}}%</span>
        </div>
        <div class="left">
          分数:<br>
          <span class="score-value">{{item.maxScore}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!isEdit">
    <mat-card-title>
      <div class="title">自定义PV信息</div>
      <button (click)="isEdit = true" mat-flat-button>编辑</button>
    </mat-card-title>
    <mat-card-content>
      <table class="zebra">
        <tr>
          <th>模型:</th>
          <td *ngIf="moduleLoadFlag == 3; else moduleString">
            {{record.customize.modulesInfo[0].name}} ,
            {{record.customize.modulesInfo[1].name}} ,
            {{record.customize.modulesInfo[2].name}}
          </td>
          <ng-template #moduleString>
            <td>
              {{record.customize.module}}
            </td>
          </ng-template>

        </tr>
        <tr>
          <th>自定义:</th>
          <td>{{record.customize.customize}}</td>
        </tr>
        <tr>
          <th>自定义饰品:</th>
          <td>{{record.customize.customizeFlag}}</td>
        </tr>
        <tr>
          <th>游戏主题:</th>
          <td>{{record.customize.skin}}</td>
        </tr>
        <tr>
          <th>按键音效:</th>
          <td>{{record.customize.buttonSe}}</td>
        </tr>
        <tr>
          <th>拖拽音效:</th>
          <td>{{record.customize.chainSlideSe}}</td>
        </tr>
        <tr>
          <th>连续拖拽音效:</th>
          <td>{{record.customize.slideSe}}</td>
        </tr>
        <tr>
          <th>拖拽条操作音效:</th>
          <td>{{record.customize.sliderTouchSe}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isEdit">
    <mat-card-title>
      <div class="title">自定义PV信息</div>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="customizeForm">
        <mat-form-field class="full-width">
          <mat-label>模型:</mat-label>
          <input formControlName="module" matInput required type="text">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>自定义:</mat-label>
          <input formControlName="customize" matInput required type="text">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>自定义饰品</mat-label>
          <input formControlName="customizeFlag" matInput required type="text">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>游戏主题</mat-label>
          <input formControlName="skin" matInput required type="number">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>按键音效</mat-label>
          <input formControlName="buttonSe" matInput required type="number">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>拖拽音效</mat-label>
          <input formControlName="chainSlideSe" matInput required type="number">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>连续拖拽音效</mat-label>
          <input formControlName="slideSe" matInput required type="number">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>拖拽条操作音效</mat-label>
          <input formControlName="sliderTouchSe" matInput required type="number">
        </mat-form-field>
        <button [disabled]="!customizeForm.valid" mat-flat-button type="submit">应用</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>排名</mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>Easy</mat-card-title>
    <mat-card-content>
      <table class="zebra" *ngIf="easyRanking.length > 0;else empty_easy">
        <tr *ngFor="let item of easyRanking; index as i">
          <td>{{i+1}}. {{item.playerName}}</td>
          <td>{{item.score}}</td>
          <td>{{item.attain/100}}%</td>
          <td><button mat-flat-button (click)="addRival(item.id)">设为对手</button></td>
        </tr>
      </table>
      <ng-template #empty_easy>还没有人打这个PV</ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Normal</mat-card-title>
    <mat-card-content>
      <table class="zebra" *ngIf="normalRanking.length > 0;else empty_easy">
        <tr *ngFor="let item of normalRanking; index as i">
          <td>{{i+1}}. {{item.playerName}}</td>
          <td>{{item.score}}</td>
          <td>{{item.attain/100}}%</td>
          <td><button mat-flat-button (click)="addRival(item.id)">设为对手</button></td>
        </tr>
      </table>
      <ng-template #empty_easy>还没有人打这个PV</ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Hard</mat-card-title>
    <mat-card-content>
      <table class="zebra" *ngIf="hardRanking.length > 0;else empty_easy">
        <tr *ngFor="let item of hardRanking; index as i">
          <td>{{i+1}}. {{item.playerName}}</td>
          <td>{{item.score}}</td>
          <td>{{item.attain/100}}%</td>
          <td><button mat-flat-button (click)="addRival(item.id)">设为对手</button></td>
        </tr>
      </table>
      <ng-template #empty_easy>还没有人打这个PV</ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Extreme</mat-card-title>
    <mat-card-content>
      <table class="zebra" *ngIf="extremeRanking.length > 0;else empty_easy">
        <tr *ngFor="let item of extremeRanking; index as i">
          <td>{{i+1}}. {{item.playerName}}</td>
          <td>{{item.score}}</td>
          <td>{{item.attain/100}}%</td>
          <td><button mat-flat-button (click)="addRival(item.id)">设为对手</button></td>
        </tr>
      </table>
      <ng-template #empty_easy>还没有人打这个PV</ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Extra Extreme</mat-card-title>
    <mat-card-content>
      <table class="zebra" *ngIf="extraExtremeRanking.length > 0;else empty_easy">
        <tr *ngFor="let item of extraExtremeRanking; index as i">
          <td>{{i+1}}. {{item.playerName}}</td>
          <td>{{item.score}}</td>
          <td>{{item.attain/100}}%</td>
          <td><button mat-flat-button (click)="addRival(item.id)">设为对手</button></td>
        </tr>
      </table>
      <ng-template #empty_easy>还没有人打这个PV</ng-template>
    </mat-card-content>
  </mat-card>

</div>
