<p>
  欢迎来到Aqua Server Web查看器<br>
  这个版本的Aqua Viewer与Aqua Server 0.013一同工作
</p>

<mat-card>
  <mat-card-title>服务器运行状态</mat-card-title>
  <mat-card-content>
    Diva歌曲列表状态 : {{divaPv}}<br>
    Diva服装模组状态 : {{divaPv}}<br>
    Diva自定饰品状态 : {{divaPv}}<br>
    Chunithm歌曲列表状态 : {{chuniMusic}}<br>
    Chunithm角色列表状态 : {{chuniCharacter}}<br>
    Chunithm角色技能状态 : {{chuniSkill}}<br>
    Ongeki卡片列表状态 : {{ongekiCard}}<br>
    Ongeki角色列表状态 : {{ongekiCharacter}}<br>
    Ongeki歌曲列表状态 : {{ongekiMusic}}<br>
    Ongeki角色技能状态 : {{ongekiSkill}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reload()">清理本地缓存</button>
  </mat-card-actions>
</mat-card>
