<p>
  欢迎来到Aqua Server Web查看器<br>
  这个版本的Aqua Viewer与Aqua Server 0.013一同工作
</p>

<mat-card>
  <mat-card-title>服务器运行状态</mat-card-title>
  <mat-card-content>
    DIVA音乐列表 : {{divaPv}}<br>
    DIVA模型列表 : {{divaPv}}<br>
    DIVA饰品列表 : {{divaPv}}<br>
    Chunithm 音乐列表 : {{chuniMusic}}<br>
    Chunithm 人物列表 : {{chuniCharacter}}<br>
    Chunithm 技能列表 : {{chuniSkill}}<br>
    Ongeki 卡片列表 : {{ongekiCard}}<br>
    Ongeki 人物列表 : {{ongekiCharacter}}<br>
    Ongeki 音乐列表 : {{ongekiMusic}}<br>
    Ongeki 技能列表 : {{ongekiSkill}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reload()">清理本地缓存</button>
  </mat-card-actions>
</mat-card>
