<mat-card>
  <mat-card-title>所有卡片列表</mat-card-title>
</mat-card>

<mat-card *ngFor="let item of cardList | paginate: { id: 'card', itemsPerPage: 10, currentPage: p }">
  <mat-card-title>
    {{item.name}}
  </mat-card-title>
  <mat-card-content>
    <div class="card-display">
      <div class="image">
        <a href="{{host}}ongeki/card/UI_Card_{{item.id|formatNumber:6}}.png" target="_blank">
          <img src="{{host}}ongeki/card/UI_Card_{{item.id|formatNumber:6}}_S.png">
        </a>
        <div *ngIf="item.characterInfo">
          {{item.characterInfo.name}}<br>
          {{item.characterInfo.cv ? '(CV: ' + item.characterInfo.cv + ')' : ''}}
        </div>
      </div>
      <div class="content">
        <table class="zebra">
          <tr>
            <th>卡片 ID</th>
            <td>{{item.id}}</td>
          </tr>
          <tr>
            <th>稀有度</th>
            <td>{{item.rarity}}</td>
          </tr>
          <tr>
            <th>卡片名字</th>
            <td>{{item.nickName}}</td>
          </tr>
          <tr>
            <th>属性</th>
            <td>{{item.attribute}}</td>
          </tr>
          <tr>
            <th>学校</th>
            <td>{{item.school}}</td>
          </tr>
          <tr>
            <th>年级</th>
            <td>{{item.gakunen}}</td>
          </tr>
          <tr>
            <th>技能</th>
            <td>{{item.skillInfo ? item.skillInfo.name : 'ID:' + item.skillId}}</td>
          </tr>
          <tr>
            <th>超解花 技能</th>
            <td>{{item.choKaikaSkillInfo ? item.choKaikaSkillInfo.name : 'ID:' + item.choKaikaSkillId}}</td>
          </tr>
          <tr>
            <th>卡牌编号</th>
            <td>{{item.cardNumber}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button (click)="insertCard(item.id)" mat-button>我想要它!!</button>
  </mat-card-actions>
</mat-card>
<div class="pagination">
  <pagination-controls (pageChange)="p = $event" id="card"></pagination-controls>
</div>
