/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 20px auto;
}

.spacer-util {
  flex: 1 1 auto;
}

.content-container {
  height: 100%;
  overflow: auto;
}

.full-width {
  width: 100%;
}


table {
  width: 100%;
  border-spacing: 0;
  word-break: break-all;
}

.zebra tr:nth-child(odd) {
  background-color: #595959;
}

.zebra tr * {
  padding: 10px;
}

.zebra th {
  text-align: left;
  font-weight: normal;
}


/* color style from http://gsv.fun/ */
.lv0, .lv1 {
  background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv2 {
  background: -webkit-linear-gradient(#FF6600, #FF6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv3 {
  background: -webkit-linear-gradient(#FF6600, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv4 {
  background: -webkit-linear-gradient(#FFFF00, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv5 {
  background: -webkit-linear-gradient(#FFFF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv6 {
  background: -webkit-linear-gradient(#33FF00, #33FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv7 {
  background: -webkit-linear-gradient(#33FF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv8 {
  background: -webkit-linear-gradient(#3366FF, #3366FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv9 {
  background: -webkit-linear-gradient(#3366FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv10 {
  background: -webkit-linear-gradient(#FF00FF, #FF00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv11 {
  background: -webkit-linear-gradient(#FF00FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv12 {
  background: -webkit-linear-gradient(#FF0000, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv13 {
  background: -webkit-linear-gradient(#FF0000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv14 {
  background: -webkit-linear-gradient(#DD8844, #DD8844);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv15 {
  background: -webkit-linear-gradient(#C0C0C0, #C0C0C0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv16 {
  background: -webkit-linear-gradient(#FFD700, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv17, .lv18, .lv19, .lv20 {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.1, #f22), color-stop(0.2, #f2f), color-stop(0.35, #22f), color-stop(0.5, #2ff), color-stop(0.65, #2f2), color-stop(0.8, #ff2));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.lv17 > a, .lv18 > a, .lv19 > a, .lv20 > a {
  color: unset;
}



