<div>
  <mat-card>
    <mat-card-content>
      <div class="song-info">
        <img *ngIf="music" src="{{host}}chuni/jacket/CHU_UI_Jacket_{{music.musicId|formatNumber:4}}.jpg">
        <div class="text-content">
          <span class="title">{{music != null ? music.name : '歌曲Id:' + id}}</span><br>
          <span
            class="info">{{music != null ? '作曲者: ' + music.artistName : ''}}</span><br>
          <span
            class="info">{{music != null ? '类型: ' + music.genre : ''}}</span><br>
          <span
            class="info">{{music != null ? '发行版本: ' + music.releaseVersion : ''}}</span>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let item of levels">
    <mat-card-title>
      <div class="level-title">
        <div class="difficulty">
          {{difficulty[item.diff]}}
        </div>
        <div class="level">
          {{'Level: ' + item.level + '.' + item.levelDecimal}}
        </div>
      </div>
    </mat-card-title>
    <ng-container *ngIf="records[item.diff] as record; else no_record">
      <mat-card-content>
        <div class="result-content">
          <div class="left">
            最高评级:<br>
            <span class="achievement-value">{{record.scoreRank|toRank}}</span>
            <br>
            <br>最高分数:<br>
            <span class="score-value">{{record.scoreMax}}</span>
            <br>
          </div>
          <table class="zebra">
            <tr>
              <th>是否收歌?</th>
              <td>{{record.isAllJustice ? '是' : '否' }}</td>
              <td>游玩次数</td>
              <td>{{record.playCount}}</td>
            </tr>
            <tr>
              <th>是否全连?</th>
              <td>{{record.isFullCombo ? '是' : '否' }}</td>
              <td>最高连击</td>
              <td>{{record.maxComboCount}}</td>
            </tr>
            <tr>
              <th>是否通关?</th>
              <td>{{record.isSuccess ? '是' : '否' }}</td>
              <td>Miss 数量</td>
              <td>{{record.missCount}}</td>
            </tr>
          </table>
        </div>
        <mat-card-actions>
          <button mat-flat-button routerLink="{{item.diff}}">显示该难度所有成绩记录</button>
        </mat-card-actions>
      </mat-card-content>
    </ng-container>
    <ng-template #no_record>
      <mat-card-content>
        没有游玩记录
      </mat-card-content>
    </ng-template>
  </mat-card>

</div>
