<mat-card>
  <mat-card-title>玩家资料</mat-card-title>
  <mat-card-content>
    <table *ngIf="profile" class="zebra">
      <tr>
        <th>玩家名称</th>
        <td>{{profile.userName}}</td>
      </tr>
      <tr>
        <th>玩家熟练度</th>
        <td>{{profile.playerRating / 100}}</td>
      </tr>
      <tr>
        <th>玩家最高熟练度</th>
        <td>{{profile.highestRating / 100}}</td>
      </tr>
      <tr>
        <th>玩家等级</th>
        <td>{{profile.level}}</td>
      </tr>
      <tr>
        <th>总游玩次数</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>称号栏id</th>
        <td>{{profile.nameplateId}}</td>
      </tr>
      <tr>
        <th>背景板id</th>
        <td>{{profile.frameId}}</td>
      </tr>
      <tr>
        <th>角色id</th>
        <td>{{profile.characterId}}</td>
      </tr>
      <tr>
        <th>最后游玩时间</th>
        <td>{{profile.lastPlayDate}}</td>
      </tr>
      <tr>
        <th>总分</th>
        <td>{{profile.totalHiScore}}</td>
      </tr>
      <tr>
        <th>Basic难度总分</th>
        <td>{{profile.totalBasicHighScore}}</td>
      </tr>
      <tr>
        <th>Advanced难度总分</th>
        <td>{{profile.totalAdvancedHighScore}}</td>
      </tr>
      <tr>
        <th>Expert难度总分</th>
        <td>{{profile.totalExpertHighScore}}</td>
      </tr>
      <tr>
        <th>Master难度总分</th>
        <td>{{profile.totalMasterHighScore}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
