<mat-card>
  <mat-card-title>
    <div>课题列表, 总数: {{contests ? contests.length : 0}}</div>
    <button (click)="edit(undefined)" mat-flat-button>添加课题</button>
  </mat-card-title>
</mat-card>
<div *ngIf="contests">
  <mat-card *ngFor="let contest of contests">
    <mat-card-content>
      <table class="zebra">
        <tr>
          <th>课题ID</th>
          <td>{{contest.id}}</td>
        </tr>
        <tr>
          <th>课题状态</th>
          <td>{{contest.enable}}</td>
        </tr>
        <tr>
          <th>课题名</th>
          <td>{{contest.name}}</td>
        </tr>
        <tr>
          <th>课题描述</th>
          <td>{{contest.description}}</td>
        </tr>
        <tr>
          <th>开始时间</th>
          <td>{{contest.startTime}}</td>
        </tr>
        <tr>
          <th>结束时间</th>
          <td>{{contest.endTime}}</td>
        </tr>
        <tr>
          <th>级别</th>
          <td>{{contestLeague[contest.league]}}</td>
        </tr>
        <tr>
          <th>最低总星数要求</th>
          <td>{{contest.stars}}</td>
        </tr>
        <tr>
          <th>最低复杂度</th>
          <td>{{contest.minComplexity}}</td>
        </tr>
        <tr>
          <th>最高复杂度</th>
          <td>{{contest.maxComplexity}}</td>
        </tr>
        <tr>
          <th>最多游玩次数</th>
          <td>{{contest.stages}}</td>
        </tr>
        <tr>
          <th>游玩次数限制</th>
          <td>{{contestStageLimit[contest.stageLimit]}}</td>
        </tr>
        <tr>
          <th>评定标准</th>
          <td>{{contestNormaType[contest.normaType]}}</td>
        </tr>
        <tr>
          <th>青铜边框要求</th>
          <td>{{contest.bronzeBorders}}</td>
        </tr>
        <tr>
          <th>白银边框要求</th>
          <td>{{contest.sliverBorders}}</td>
        </tr>
        <tr>
          <th>黄金边框要求</th>
          <td>{{contest.goldBorders}}</td>
        </tr>
        <tr>
          <th>PV列表</th>
          <td>{{contest.pvList}}</td>
        </tr>
        <tr>
          <th>PV难度列表</th>
          <td>{{contest.pvDiffList}}</td>
        </tr>
        <tr>
          <th>青铜课题奖励</th>
          <td>{{contest.bronzeContestReward}}</td>
        </tr>
        <tr>
          <th>白银课题奖励</th>
          <td>{{contest.sliverContestReward}}</td>
        </tr>
        <tr>
          <th>黄金课题奖励</th>
          <td>{{contest.goldContestReward}}</td>
        </tr>
        <tr>
          <th>参与课题奖励</th>
          <td>{{contest.contestEntryReward}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="edit(contest)" mat-flat-button>编辑</button>
      <button (click)="delete(contest.id)" mat-flat-button>删除</button>
    </mat-card-actions>
  </mat-card>
</div>
